.App {
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  width: 80%;
}

.App-Photo{
  background: relative;
  float: left;
  height:700px;
  width: 50%;
}
.App-Photo img{
  width: 100%;
}

.App-details{
  margin-left: 30px;
  float: left;
  overflow: hidden;
  width: 40%;
}
.App-details .App-category{
  color: #acaeb2;
}
.App-details .App-title{
  margin: 0;
}
.App-details .App-deskripsi{
  line-height: 1.8;
  color: rgba(37, 0, 201, 0.733);
  text-align: justify;
}
.App-details .App-price{
  font-size: 20px;
  font-weight: 500;;
}
.App-details a{
  color: #ffffff;
  margin-top: 20px;
  background: rgb(73, 90, 187);
  transition: all 0.5s;
  font-weight: 500;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 20px;

}
.App-details a:hover{
  color: #ffffff;
  background: rgb(129, 145, 236);
  transition: all 0.5s;
}

.App-review {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}
.App-review h2{
  margin-top: 50px;
}
.App-review .Image-review{
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}
.App-review img{
  width: 80px;
  height: 80px;
  background: #b1b1b1;
  border-radius: 11px;
  float: left;
  margin-right: 16px;
}
.App-review .User-review p, h3{
  margin: 0;
}
.App-review .User-review h3{
  padding-top: 10px;
  margin-bottom: 8px;
}




